.hero-section {
  position: relative;
  width: 100%;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: #1F2937;
  text-align: center;
  padding: 1rem 1rem 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-image-slider {
  height: 16rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #F3F4F6;
  margin-bottom: 0.5rem;
  margin: 0rem 0rem 2rem;
}

.slider-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.slide {
  flex: 0 0 400px;
  height: 16rem;
  margin-right: 1rem;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.25rem;
  }

  .slide {
    flex: 0 0 300px;
  }
}